.pokemon-card {
    margin: 15px 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.1s;
    color: var(--white);

    .pokemon-image {
        cursor: pointer;
        width: 140px;
        height: 140px;
        object-fit: contain;
        border-radius: 4px;
    }

    .pokemon-name {
        text-decoration: none;
        color: var(--white);
    }
}

.pokemon-card:hover {
    transform: scale(1.1);

    .pokemon-image {
        background-color: var(--glass-bg2);
    }
}