<div class="container">
    <div class="top-bar glass-card">
        <div class="search-bar">
            <input class="search-input font-one" [(ngModel)]="searchQuery" type="text" placeholder="Search Pokémon"
                (keyup.enter)="searchPokemons()">
            <button class="search-icon" (click)="searchPokemons()">
                <i class="material-icons">search</i>
            </button>
        </div>
    </div>
    <div class="pokemon-list">
        <app-pokemon-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></app-pokemon-card>
    </div>
    <div class="pokemon-loadmore">
        <button mat-raised-button (click)="loadMore()" *ngIf="pokemons.length > 1">Load More</button>
        <button mat-raised-button (click)="loadMore()" *ngIf="pokemons.length < 2">Clear</button>
    </div>
</div>