<div class="container">
    <div class="top-bar">
        <a [routerLink]="['/']">
            <i class="material-icons">west</i>
        </a>
    </div>
    <div class="pokemon-detail glass-card" *ngIf="pokemon">
        <div class="pokemon-image-wrapper">
            <img class="pokemon-image" [src]="pokemon.selectedImage" alt="{{ pokemon.name }}">
            <div class="image-fill"></div>
        </div>
        <div class="switch-images">
            <div *ngFor="let image of pokemon.images" (click)="pokemon.selectedImage = image" class="image-toggle"
                [ngClass]="pokemon.selectedImage == image ? 'image-active' :''">
            </div>
        </div>
        <h2 class="pokemon-name">{{ pokemon.name }}</h2>
        <p class="pokemon-hash">{{pokemon.hashID}}</p>
        <div class="pokemon-stats">
            <app-pokemon-stat [title]="'Type'" [value]="pokemon.type"></app-pokemon-stat>
            <app-pokemon-stat [title]="'Weight'" [value]="pokemon.weight+'kg'"></app-pokemon-stat>
            <app-pokemon-stat [title]="'Height'" [value]="pokemon.height+'ft'"></app-pokemon-stat>
        </div>
    </div>
</div>