/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #FF3A02;
    --secondary-color: #FFA505;
    --main-color: #ff5602;
    --white: #ffffff;
    --text-color: #333333;
    --glass-bg: rgba(255, 255, 255, 0.2);
    --glass-bg2: rgba(255, 255, 255, 0.5);
    --glass-border: 1px solid rgba(255, 255, 255, 0.3);
    --shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --font-one: 18px;
    --font-two: 20px;
    --font-three: 22px;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(120deg, var(--primary-color), var(--secondary-color));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pokemon-hash {
    margin-bottom: 0;
    letter-spacing: 5px;
    color: var(--white);
    font-weight: 500;
}

.glass-card {
    background: var(--glass-bg);
    box-shadow: var(--shadow);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: var(--glass-border);
}

.flex-col-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.font-one {
    font-size: var(--font-one);
}

.font-two {
    font-size: var(--font-two);
}

.font-three {
    font-size: var(--font-three);
}